<template>
  <div class="row">
    <div class="col s7">
        <div class="card  horizontal" v-for="(d,i) in data" :key="i">
          <div class="card-image">
            <img :src="d.images[0]">
          </div>
          <div class="card-stacked">
            
            <div class="card-content">
              <h4 class="left">{{d.price}} руб.</h4>
            </div>
             <div class="card-content row">
              <h5 class="col">{{d.about_apartment.number_of_rooms}}-комн.кв ·</h5> <h5 class="col">{{d.about_apartment.living_space}}м² ·</h5>  <h5 class="col">этаж {{d.about_apartment.floor}}/{{d.about_apartment.floors_in_house}}</h5>
            </div>
             <div class="card-content row">
              <h6 class="col">{{d.location.street}}, {{d.location.city_town}}, {{d.location.state}}</h6>
            </div>
             <div class="card-content row">
              <h6 class="left col ">Опубликованно: {{d.publication_date}}</h6>
              <h6 class="left col s4" style="color: green">{{d.property_rights}}</h6>
            </div>
          </div>
        </div>
    </div>   
</div> 
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      data: []
    }
  },
  beforeMount() {
    axios.get('/ads').then(res=>{
      this.data = res.data
      for (let d of this.data){
        d.publication_date = new Date(Date.parse(d.publication_date)).toLocaleString('ru', {
            day: 'numeric',
            month: 'numeric',
            year: 'numeric',
          })
        d.price = d.price.toLocaleString('ru')
      }
    })
  },
}
</script>

<style>
h1,h2,h3,h4,h5,h6,p,a{
  margin: 0;
  padding: 0;
}
.card-content{
  max-height: 7vh;
}
.card-image img{
  max-height: 45vh;
  min-height: 20vh;
  min-width: 27vw;
  object-fit: cover;
}
.row{
  max-height: 1vh;
}

</style>