<template>
  <div class="row" v-if="showContent">
    <div class="col s10">
      <div class="card horizontal" v-for="(d, i) in data">
        <carousel
          style="width: 40vw; margin-left: 5vh; margin-top: 5vh; margin-right: 5vh;"
          :per-page="1"
        >
          <slide style="width: 100vw" v-for="(p, i) in d.images" :key="i"
            ><img
              style="
                object-fit: cover;
                max-height: 45vh;
                min-height: 20vh;
                min-width: 27vw;
              "
              :src="p"
          /></slide>
        </carousel>
        <div class="card-stacked" style="margin-top: 3vh">
          <div class="card-content">
            <h4 class="left">{{ d.priceStr }} ₽</h4>
             <h6 style="margin-right: 40vh; margin-top: 3.7vh; color: grey;">{{ Math.ceil(d.price / d.about_apartment.total_area)}} ₽ за м²</h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              {{ d.location.street }}, {{ d.location.city_town }},
              {{ d.location.state }}
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Общая площадь:</span> {{ d.about_apartment.total_area }} м²
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Жилая площадь:</span>
              {{ d.about_apartment.living_space }} м²
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Количество комнат:</span>
              {{ d.about_apartment.number_of_rooms }}
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Этаж:</span> {{ d.about_apartment.floor }} из
              {{ d.about_apartment.floors_in_house }}
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Присутствуют:</span>
              {{ d.about_apartment.loggia ? "лоджия" : "" }} {{d.about_apartment.loggia && d.about_apartment.balcony ? ",": ""}}
              {{ d.about_apartment.balcony ? "балкон" : "" }}
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Ремонт:</span> {{ d.about_apartment.repair }}
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left" style="text-align: start">
              <span
                >Техника:</span
              >
                <span v-for="(t, i) in d.about_apartment.technics" :key="i">
                  {{ t }}
                  <span v-if="d.about_apartment.technics.length - 1 != i"
                    >,</span
                  >
                </span>
            </h6>
          </div>
          <div class="card-content">
            <h6 class="left">
              <span> Опубликовано:</span> {{ d.publication_date }}
            </h6>
          </div>

          <div class="card-action">
            <div class="card-content">
              <div class="input-field">
                <input
                  type="text"
                  id="autocomplete-input"
                  class="autocomplete"
                  v-model="d.description"
                />
                <label for="autocomplete-input">Напишите описание</label>
              </div>

              <a
                @click="d.isLike = true"
                class="waves-effect btn left"
                style="background-color: #5a64d5"
                >Нравится</a
              >
              <a
                @click="d.isLike = false"
                class="waves-effect btn left red"
                style="margin-left: 1vw"
                >Не нравится</a
              >
            </div>
          </div>
        </div>
      </div>
      <a @click="save" class="waves-effect btn left" style="margin-bottom: 5vw"
        >Отправить</a
      >
    </div>
    
  </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
import axios from "axios";
export default {
  components: {
    Carousel,
    Slide,
  },
  data() {
    return {
      data: [],
      selection: [],
    };
  },
  beforeCreate() {
    axios
      .get("/selection/" + this.$router.history.current.params.id)
      .then((res) => {
        this.selection = res.data[0];
      });
  },
  methods: {
    save() {
      let data = [];
      for (let d of this.data) {
        data.push({
          _id: d._id,
          description: d.description ?? null,
          isLike: d.isLike ?? null,
        });
      }
      axios.put("/selection/" + this.$router.history.current.params.id, data).then(res =>{
        M.toast({html: 'Ваш ответ отправлен!'})
      }).catch(e =>{
        M.toast({html: 'Ошибка ' + e})
      });
    },
  },
  computed: {
    showContent() {
      if (this.selection.ofAds) {
        for (let s in this.selection.ofAds) {
          if (this.selection.ofAds[s]._id)
            this.selection.ofAds[s] = this.selection.ofAds[s]._id;
          axios.get("/ads/" + this.selection.ofAds[s]).then((res) => {
            res.data[0].publication_date = new Date(
              Date.parse(res.data[0].publication_date)
            ).toLocaleString("ru", {
              day: "numeric",
              month: "numeric",
              year: "numeric",
            });
            res.data[0].priceStr = res.data[0].price.toLocaleString("ru");
            this.data.push(res.data[0]);
          });
        }
        return 1;
      }
    },
  },
};
</script>

<style scoped>
h6 span:first-child {
  color: grey;
}
.card .card-content{
  margin: 0;
  padding: 0;
  max-height: 3vw;
}
.card .card-action{
  margin: 0;
  padding: 0;
  margin-bottom: 3vh;
}
</style>