<template>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Assistant Realtor</a>
    </div>
  </nav>
</template>

<style scoped>
.nav-wrapper{
  background-color:#5a64d5;
}
.brand-logo{
  left:0;
  margin-left: .5vw;
}
</style>